/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #e4e4e4 !default;
$text-color: #2c9dca !default;  // 블로그 이름 및 게시글 텍스트
$primary-color: #124d9a !default; // 카테고리 및 포스팅 글 제목
$border-color: mix(#124d9a, $background-color, 20%) !default; // 목차 테두리
$code-background-color: #93cbf2 !default; //`하이라이트 블록 배경`
$code-background-color-dark: #0f87d1 !default;
$form-background-color: mix(#260c9a, $background-color, 15%) !default;
$footer-background-color: mix(#e4e4e4, $background-color, 20%) !default;  // 스크롤 다 내려갔을때 빈공간
$link-color: mix(#00adb5, $text-color, 40%) !default;
$link-color-hover: mix(#2a558c, $link-color, 25%) !default;   // 블로그 관리자 이름을 포함한 링크
$link-color-visited: mix(#00adb5, $text-color, 40%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

// $background-color: #373C3F !default;
// $text-color: #eaeaea !default;
// $primary-color: #00adb5 !default;
// $border-color: mix(#fff, $background-color, 20%) !default;
// $code-background-color: #4D5357 !default;
// $code-background-color-dark: #3F4447 !default;
// $form-background-color: mix(#000, $background-color, 15%) !default;
// $footer-background-color: mix(#000, $background-color, 20%) !default;
// $link-color: mix(#00adb5, $text-color, 40%) !default;
// $link-color-hover: mix(#fff, $link-color, 25%) !default;
// $link-color-visited: mix(#00adb5, $text-color, 40%) !default;
// $masthead-link-color: $text-color !default;
// $masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
// $navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

// .author__urls.social-icons .svg-inline--fa,
// .page__footer-follow .social-icons .svg-inline--fa {
//   color: inherit;
// }

// .ais-search-box .ais-search-box--input {
//   background-color: $form-background-color;
// }